.env
db.sqlite3
*/__pycache__/*
*/migrations/__pycache__/*
media
static
Команды для Django+React(AI).docx
~$манды для Django+React(AI).docx
.idea
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv
env/
ENV/
debug.log
dump.rdb
*.rdb

dump.rdb
/celery.log
/backend/celery.log
/backend/celerybeat-schedule.*
/backend/_beat_err.txt
/backend/_beat_out.txt
.cursor/